body {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

.number{
    margin: 10px 10px 10px 10px;
    font-weight: bold;
}

.add{
    margin: 150px 10px 10px 10px;
    padding-left: 420px;
}

.minus{
    margin: 150px 10px 10px 10px;
    padding-right: 420px;
}